#full{
	width: 100%;
	height: auto;
}
#header{
	width: 100%;
	height: 100px;
	background: silver;

}
#logo{
	width: 30%;
	height: 100px;
	float: left;

}
#nav{
	width: 70%;
	height: 100px;
	float: left;

}
ul li{
	list-style: none;
	float: left;
	width: 14%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;

}
h1{
	padding: 10px;
}
#banner{
	width: 100%;
	height: 400px;
	
}